:root {
  --primary-color: #ffb400;
  --background-color: #e4e6eb;
  --sidebar-nav-background-color: #f0f0f6;
  --card-background-color: #ffffff;
}
.price {
  margin: 1rem;
  text-align: center;
  margin-top: 3rem;
}

@media all and (min-width: 768px) {
  .price-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
